
<div class="ae-container-fluid ae-container-fluid--inner rk-main">
<div class="ae-grid au-xs-ta-center au-mb-4">
  <div class="ae-grid__item item-lg-6 ae-kappa au-mb-3">
    <div class="home_left_img">
      <img src="assets/img/team-1.jpg" alt="">
    </div>
  </div>
  <div class="ae-grid__item item-lg-6 ae-kappa au-mb-3">
    <div class="banner_content">
      <h5>Este soy yo</h5>
      <h2>Enyerson D. Camero</h2>
      <p class="au-lg-ta-center au-mb-3 au-pl-4 au-pr-4" [innerHTML]="infoPage.info.sobremi" ></p>
      <a class="banner_btn" href="#">Descubre todo</a>
    </div>
  </div>
</div>
</div>
  
